<!DOCTYPE html>
<html lang="ro">
	<head>
		<title>Login</title>
		<%- include("../fragmente/head") %>
		<link rel="stylesheet" type="text/css" href="/resurse/css/login.css" />
	</head>
	<body class="container">
		<header>
			<%- include("../fragmente/header") %>
		</header>
		<main>
			<h1>Mai jos va puteti loga.</h1>
            <%- include("../fragmente/formular-login.ejs") %>
		</main>
		
		<%- include("../fragmente/footer") %>
		
	</body>
</html>