html {
  font-family: "Hind Vadodara", sans-serif;
  transition: font-size 1s linear;
}

body {
  background-color: var(--culoare2);
  color: white;
  --culoare6:#ffa500;
  --culoare5:#61892F;
  --culoare4:#86C232;
  --culoare3:#222629;
  --culoare2:#474B4F;
  --culoare1:#6B6E70;
  --spatiere: 50px;
  padding-left: var(--spatiere);
  padding-right: var(--spatiere);

}

p {
  /* color: green; */
  border: 2px solid var(--culoare5  );
  border-radius: 5px;
}

h2 {
  background-color: var(--culoare5);
  text-align: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
h3 {
  background-color: var(--culoare4);
  text-align: center;
  border-radius: 5px;
}

#Formula h3 {
  color: blue;
}

#Formula math {
  font-style: italic;
  color: green;
}

#Formula math mn {
  color: red;
}

#Formula math mo {
  color: purple;
}
#Formula {
  width: 100%;
}
#header {
  background-color: var(--culoare4);
  border: 2px solid black;
  border-radius: 10px;
  /* box-shadow: 10px 10px 5px 5px black; */
  margin-top: 10px;
}

#footer {
  background-color: var(--culoare4);
  border: 2px solid var(--culoare5);
  border-left: 0cm;
  border-right: 0cm;
  border-radius: 10px;
  /* box-shadow: 10px 10px 5px 5px var(--culoare5); */
  margin-top: 10px;
  padding: 10px;
  position: relative;
}

@media screen and (max-width: 1000px) {
  html {
    transition: font-family 0s;
  }
}

@media screen and (max-width: 700px) {
  html {
    transition: font-family 0s;
  }
}

#watermark {
  display: none;
}

header.c1 h1 {
  font-size: 24px;
  font-size: 34px;
  font-weight: 300;
  line-height: 40px;
  margin: 0 0 16px;
}

@media print {

  /* Headingul de nivel 1, cu titlu site-ului, va fi pe prima pagină, centrat pe orizontală*/
  h1 {
    margin-top: 50%;
    text-align: center;
  }

  /* sub el se va afișa meniul sub formă de listă neordonată cu elementele unele sub altele (fără a afișa și subopțiunile) */
  .meniu li {
    border: none;
    width: auto;
    height: auto;
    text-align: left;
    padding: 0;
    margin: 0;
  }

  .meniu {
    display: block;
    position: absolute;
  }

  #grid-pagina {
    font-size: 10px;
    box-sizing: border-box;
    page-break-before: always;
    background-color: white;
    display: block;
  }

  #grid-pagina div:nth-child(5) {

    page-break-before: always;
  }

  #watermark {
    display: block;
    position: fixed;
    bottom: 0;
    color: rgba(0, 0, 0, 0.4);
    right: 0;
    border: none;
  }

  #watermark::after {
    display: block;
    background: white;
    /* bottom: 1cm;
    right: 1cm; */
    width: 4cm;
    height: 1cm;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    border: 3px solid black;
    border-radius: 10px;
    opacity: 0.4;
    content: "Bichir\AGeorge-Ionut";
    white-space: pre;
  }

  /* toate linkurile din pagină se vor afișa ca text normal (nu colorate sau subliniate) */
  footer a {
    text-decoration: none;
    color: inherit;
  }

  img,
  video,
  iframe {
    display: none;
  }

  #link-top {
    display: none;
  }

  .container-iframe {
    display: none;
  }

  figcaption {
    display: none;
  }

  footer {
    page-break-before: always;
  }

  #banner {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 70%;
    text-align: center;
    padding: 10px;

    border: 4px inset black;
    box-sizing: border-box;
  }

  footer a[href^="http"] {
    text-decoration: none;
    color: black;
  }

}

@page: right {

  margin-right: 3cm;
  margin-left: 1cm;
}

@page: left {

  margin-left: 3cm;
  margin-right: 1cm;
}

footer a:visited {
  color: var(--culoare5);
}

footer a[href^="http"] {
  position: relative;
}

footer a[href^="http"]::before {
  content: "\2BB3";
  font-size: 150%;
  margin-right: 5px;
}

/* footer a[href^="http"]:hover:before {
  color: var(red);
} */

main a {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

a[href^="http"]:hover:before {
  color: var(--culoare1);
}

footer a {
  background-image: radial-gradient(ellipse at center,
      var(--culoare6) 0%,
      var(--culoare6) 40%,
      transparent 80%,
      transparent 100%);
  background-position: center;
  background-size: 0%;
  background-repeat: no-repeat;
  transition: 0.5s linear;
}

footer a:hover {
  background-size: 100%;
}

footer a:active {
  border: 1px solid var(--culoare6);
  transition: none;
}

summary {
  color: var(--culoare5);
  content: "+";
}

summary:hover {
  content: "-";
  color: var(--culoare4); 
  
}

summary::before {
  content: "+";
  transition: font-size 0.3s ease;
}

summary:hover::before {
  content: "-"; 
  font-size: 1.1em;
}

a {
  color: var(--culoare5);
}

li {
  color: #61892F;
}

#Acasa, #Tabel, #Calendar, #Anunturi, #Utilizatori, #Statistici, #Site, #Masini-in-stoc, #Contact, #Finantare, #Vinde-ti-masina {
  background-color: var(--culoare3);
}

