    <footer>
      <div id="footer">
        <a href="#" title="mergi sus" id="link-top"
          ><div id="triunghi"></div
        ></a>
        Bulevardul Regina Elisabeta Nr. 4-12, București 030018
        <br />
        <a href="http://www.google.com" target="_blank">Google</a>
        <br />
        <a href="./resurse/imagini/Bugatti.jpg" download>Descarcabil</a>
        <br />
        <i class="fa-solid fa-envelope"></i
        ><a href="mailto:bichirgeorgeionut@gmail.com">Mail AutoHaHaHa</a>
        <br />
        <i class="fa-solid fa-phone"></i
        ><a href="tel:+40720657053">Nr telefon</a>
        <br />
        <div>
          <i class="fa-solid fa-map"></i
          ><a
            href="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=Strada%20Academiei%2014+(Facultatea%20de%20Matematica%20si%20Informatica)&amp;t=&amp;z=17&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"
            target="ifr-map"
            >Strada Tehnologiei, nr. 4, București, sector 6, România</a
          >
        </div>
        <iframe name="ifr-map" frameborder="0"></iframe>
        <br />
        <i class="fa-brands fa-whatsapp fa-shake"></i
        ><a href="https://wa.me/40720657053" target="_blank">WhatsApp</a>
        <p>
          <small
            >Copyright &copy;
            <time datetime="2024-03-04">4 martie 2024</time></small
          >
        </p>
        <div id="banner">
          <p>Acesta e un proiect școlar</p>
          <p>Acceptați cookie-uri? <button id="ok_cookies">Accepta cookies</button></p>
        </div>
      </div>
    </footer>